# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Dependencies
node_modules/

# Environment
.env
.env.local

# Misc
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
